*{

}
.c1{
    background: #f2f2f2;
    color: black;
    padding:20px;
    margin-left: auto;
}
.c2{
    background: rgba(52,73,94,0.6);
    color: white;
    padding: 20px;
    margin-left: auto;
}
.c3{
    background: #C0392B;
    color: white;
    padding: 20px;
    margin-left: auto;
}



